<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .parent {
        position: relative;
        margin: 20px;
        padding: 20px;
        width: 500px;
        height: 300px;
        background-color: gray;
    }
    .child1 {
        position: fixed;
        top:350px;
        width: 600px;
        height: 200px;
        background-color: purple;
    }
</style>

<body>
    <div class="parent">parent
        <div class="child1">chid1</div>
    </div>
</body>

</html>